<!DOCTYPE html>
<html
  lang="{{ site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "navbar.html" . }}
    <div class="container">
      <div class="row">
        <div class="col-sm-3 menu-sidebar">
          {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
        </div>
        <main class="col-sm-6">{{ block "main" . }}{{ end }}</main>
        <div class="col-sm-3">
          <h1>A quick summary of this page:</h1>
          Hier könnte Ihre Werbung stehen.
        </div>
      </div>
    </div>
    <footer>
      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </footer>
  </body>
</html>
