<!DOCTYPE html>
<html
  lang="{{ site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "navbar.html" . }}
    <div class="container">
      <div class="row">
        <div class="col-lg-2 mt-4">
          <div
            id="contentMenu"
            class="offcanvas-lg offcanvas-start"
            aria-labelledby="contentMenuLabel"
          >
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="contentMenuLabel">Menu</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                data-bs-target="#contentMenu"
                aria-label="Close"
              ></button>
            </div>
            <div class="offcanvas-body">
              {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
            </div>
          </div>
        </div>
        <main class="col-lg-8">
          <div class="bg-white mt-3 px-5 py-4 pe-5 rounded">
            {{ block "main" . }}{{ end }}
          </div>
        </main>
        <div class="col-lg-2 mt-4">
          <h6>A quick summary of this page:</h6>
          Hier könnte Ihre Werbung stehen.
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <div>
              {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
            </div>
            <p class="text-center">
              &copy; {{ now.Format "2006" }} {{ .Site.Title }}
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
